name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login Dockerhub
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      
    - name: Build the Docker image
      run: docker build -t mani5140/nodejs-application .
    - name: Push to Dockerhub
      run: docker push mani5140/nodejs-application:latest
      
  deploy:
     needs: build
     runs-on: [aws-ec2]
     steps:
       - name: Set up Docker permissions
         run: |
           sudo usermod -aG docker $USER
           newgrp docker
       - name: Pull image from Docker Hub
         run: docker pull mani5140/nodejs-application:latest
       - name: Delete old container
         run: docker rm -f nodejs-app-container
       - name: Run Docker container
         run: docker run -d -p 5000:5000 --name nodejs-app-container mani5140/nodejs-application
